# Infra y pipelines
/.github/CODEOWNERS @Nasst
/.github/workflows/ @Nasst
/kestra/platform/ @Nasst
/kestra/tools/ @Nasst

# Runtime y deploy web
/web/herramientas/deploy/ @Nasst
/web/herramientas/docker/ @Nasst
/web/redunisol-web/deploy/ @Nasst
/web/redunisol-web/docker/ @Nasst

# Configuracion sensible versionada
*.env.enc @Nasst
