# Infra y pipelines
/kestra/platform/ @Nasst
/.github/workflows/ @Nasst
/kestra/tools/ @Nasst

# Dominios
/kestra/automations/marketing-crm/ @Nasst
/kestra/automations/analisis-credito/ @Nasst
/kestra/automations/ahorros-amt/ @Nasst
/kestra/automations/cobranzas/ @Nasst
/kestra/automations/contabilidad/ @Nasst
