TARGET_DIR=/opt/zipline-dev
COMPOSE_PROJECT_NAME=zipline-dev
PUBLIC_URL=http://media-dev.redunisol.com.ar
ZIPLINE_BIND=127.0.0.1:3040:3000

ZIPLINE_IMAGE=ghcr.io/diced/zipline:v4.6.2
POSTGRES_IMAGE=postgres:16

POSTGRESQL_USER=zipline_dev
POSTGRESQL_PASSWORD=change-me
POSTGRESQL_DB=zipline_dev

CORE_HOSTNAME=0.0.0.0
CORE_PORT=3000
CORE_SECRET=change-me-with-at-least-32-characters
CORE_TRUST_PROXY=true
CORE_RETURN_HTTPS_URLS=false
CORE_DEFAULT_DOMAIN=media-dev.redunisol.com.ar

DATASOURCE_TYPE=local
DATASOURCE_LOCAL_DIRECTORY=/zipline/uploads

FILES_MAX_FILE_SIZE=25mb
FILES_MAX_FILES_PER_UPLOAD=20
FILES_REMOVE_GPS_METADATA=true
FEATURES_USER_REGISTRATION=false
FEATURES_OAUTH_REGISTRATION=false
INVITES_ENABLED=false
WEBSITE_TITLE=Red Unisol Media Dev
MFA_TOTP_ENABLED=true
MFA_TOTP_ISSUER=Red Unisol Media Dev

