# PostgreSQL
POSTGRES_HOST_PORT=5432
POSTGRES_DB=celesol
POSTGRES_USER=celesol
POSTGRES_PASSWORD=celesol_dev

# pgAdmin
PGADMIN_HOST_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@celesol.dev
PGADMIN_DEFAULT_PASSWORD=admin

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
